@{
    ViewData["Title"] = "Home Page";
}

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="about-img">
                                            <img src="~/assets/img/My-Display-Pic.jpg" class="img-fluid rounded b-shadow-a" alt="">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-7">
                                        <div class="about-info">
                                            <p><span class="title-s">Name: </span> <span>Chris Randall</span></p>
                                            <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                                            <p><span class="title-s">Email: </span> <span>Chris.Crandall@outlook.com</span></p>
                                            <p><span class="title-s">Phone: </span> <span>(580) 478-4420</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="skill-mf">
                                    <p class="title-s">Skill</p>
                                    <span>HTML</span> <span class="pull-right">62.9%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 62.9%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>CSS3</span> <span class="pull-right">60%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>MVC</span> <span class="pull-right">55%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span>JAVASCRIPT</span> <span class="pull-right">37%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 37%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-me pt-4 pt-md-0">
                                    <div class="title-box-2">
                                        <h5 class="title-left">
                                            About me
                                        </h5>
                                    </div>
                                    <p class="lead">
                                        I am a dedicated and aspiring programmer with a relentless passion for solving complex problems through the art of coding. From the moment I wrote my first "Hello, World!" program, I was hooked on the limitless potential of technology. In addition to my programming skills, I have hands-on experience in IT and network engineering, where I've honed my abilities to design, troubleshoot, and maintain robust network infrastructures.
                                    </p>
                                    <p class="lead">
                                        As a lifelong learner, I've immersed myself in various programming languages and frameworks, constantly seeking opportunities to expand my skills. Whether it's building web applications, crafting elegant algorithms, or optimizing network performance, I am driven by a desire to create innovative solutions that make a positive impact. With a strong foundation in logic and a knack for turning ideas into functional software.
                                    </p>
                                    <p class="lead">
                                        I'm excited to embark on a programming career where I can contribute to the ever-evolving tech landscape, ensure seamless connectivity, and turn concepts into reality, one line of code or network configuration at a time. Let's build a brighter, interconnected future together!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services-mf pt-5 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a">
                            Services
                        </h3>
                        <p class="subtitle-a">
                            Skills aquired
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Web Design</h2>
                            <p class="s-description text-center">
                                Skills to design, build and improve websites.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Web Development</h2>
                            <p class="s-description text-center">
                                Adept at collaborating with dynamic teams to build high-quality websites and identify opportunities to enhance the user experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="bi bi-wifi"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Networking</h2>
                            <p class="s-description text-center">
                                Implementing, Configuring and Troubleshooting of WAN/Lan networks
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <div class="service-ico">
                            <span class="ico-circle"><i class="bi bi-database"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">Server Administration</h2>
                            <p class="s-description text-center">
                                Development and implementation of new system structures, monitored the activity of servers, and collaborated with colleagues on the improvement of all network services.
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- End Services Section -->
    <!-- #region counter -->
    <!-- ======= Counter Section ======= -->
    <!-- <div class="section-counter paralax-mf bg-image" style="background-image: url(~/assets/img/counters-bg.jpg)">
      <div class="overlay-mf"></div>
      <div class="container position-relative">
        <div class="row">
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-check"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="450" data-purecounter-duration="1" class="counter purecounter"></p>
                <span class="counter-text">WORKS COMPLETED</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-journal-richtext"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="counter purecounter"></p>
                <span class="counter-text">YEARS OF EXPERIENCE</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-people"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="550" data-purecounter-duration="1" class="counter purecounter"></p>
                <span class="counter-text">TOTAL CLIENTS</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-lg-3">
            <div class="counter-box pt-4 pt-md-0">
              <div class="counter-ico">
                <span class="ico-circle"><i class="bi bi-award"></i></span>
              </div>
              <div class="counter-num">
                <p data-purecounter-start="0" data-purecounter-end="48" data-purecounter-duration="1" class="counter purecounter"></p>
                <span class="counter-text">AWARD WON</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- End Counter Section -->
    <!-- #endregion counter -->
    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a">
                            Portfolio
                        </h3>
                        <p class="subtitle-a">
                            List of projects
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="~/assets/img/DungeonApp.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                            <div class="work-img">
                                <img src="~/assets/img/DungeonApp.png" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Dungeon of Doom</h2>
                                    <div class="w-more">
                                        <div>
                                            <a class="w-ctegory" href="https://github.com/DevCRandall/MyDungeonApp.git" target="_blank">GitHub Link to Dungeon App</a>
                                        </div>
                                        <span class="w-ctegory">C#</span> / <span class="w-date">May-2023</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <!-- <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="~/assets/img/working-on.gif" data-gallery="portfolioGallery" class="portfolio-lightbox">
                            <div class="work-img">
                                <img src="~/assets/img/working-on.gif" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Personal Site MVC</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">MVC</span> / <span class="w-date"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <!-- <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="~/assets/img/Storefront.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                            <div class="work-img">
                                <img src="~/assets/img/Storefront.png" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">StoreFront</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">MVC</span> / <span class="w-date"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <!-- <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="~/assets/img/DoItNow.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                            <div class="work-img">
                                <img src="~/assets/img/DoItNow.png" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">GetItDone</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">React</span> / <span class="w-date"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <!-- <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-box">
                        <a href="~/assets/img/working-on.gif" data-gallery="portfolioGallery" class="portfolio-lightbox">
                            <div class="work-img">
                                <img src="~/assets/img/working-on.gif" alt="" class="img-fluid">
                            </div>
                        </a>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Web API</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Design</span> / <span class="w-date"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <!-- <a href="portfolio-details.html"> <span class="bi bi-plus-circle"></span></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Portfolio Section -->
    <!-- ======= Testimonials Section ======= -->
    <div class="testimonials paralax-mf bg-image">
        <!-- <div class="overlay-mf"></div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="testimonial-box">
                                    <div class="author-test">
                                        <img src="~/assets/img/Chanel-Dubreuil.jpg" alt="" class="rounded-circle b-shadow-a">
                                        <span class="author">Chanel Dubreuil</span>
                                    </div>
                                    <div class="content-test">
                                        <p class="description lead">
                                            <a href="https://www.linkedin.com/in/chanel-dubreuil-1a3393285/" class="bi bi-linkedin author"></a>
                                            <a href="http://www.chaneldubreuil.com/" target="_blank" class="text-light">chaneldubreuil.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="testimonial-box">
                                    <div class="author-test">
                                        <img src="~/assets/img/GeneCathcart.jpg" alt="" class="rounded-circle b-shadow-a">
                                        <span class="author">Gene Cathcart</span>
                                    </div>
                                    <div class="content-test">
                                        <p class="description lead">
                                            <a href="https://www.linkedin.com/in/chanel-dubreuil-1a3393285/" class="bi bi-linkedin author"></a>
                                            <a href="http://www.genecathcart.com/" target="_blank" class="text-light">genecathcart.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="testimonial-box">
                                    <div class="author-test">
                                        <img src="~/assets/img/AidenMcQuillan.jpg" alt="" class="rounded-circle b-shadow-a">
                                        <span class="author">Aidan McQuillan</span>
                                    </div>
                                    <div class="content-test">
                                        <p class="description lead">
                                            <a href="" class="bi bi-linkedin author"></a>
                                            <a href="http://aidanmcquillan.com/" target="_blank" class="text-light">aidanmcquillan.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="testimonial-box">
                                    <div class="author-test">
                                        <img src="~/assets/img/ZoeyBateman.jpg" alt="" class="rounded-circle b-shadow-a">
                                        <span class="author">Zoey Bateman</span>
                                    </div>
                                    <div class="content-test">
                                        <p class="description lead">
                                            <a href="" class="bi bi-linkedin author"></a>
                                            <a href="http://zoeybateman.com/" target="_blank" class="text-light">zoeybateman.com</a>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- End testimonial item -->

                            <div class="swiper-slide">
                                <div class="testimonial-box">
                                    <div class="author-test">
                                        <img src="~/assets/img/AliciaVillegas.jpg" alt="" class="rounded-circle b-shadow-a">
                                        <span class="author">Alicia Villegas</span>
                                    </div>
                                    <div class="content-test">
                                        <p class="description lead">
                                            <a href="" class="bi bi-linkedin author"></a>
                                            <a href="http://aliciavillegas.net/" target="_blank" class="text-light">aliciavillegas.net</a>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- End testimonial item -->
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                    <!-- <div id="testimonial-mf" class="owl-carousel owl-theme">

                    </div> -->
                </div>
            </div>
        </div>
    </div><!-- End Testimonials Section -->
    <!--Begin Weather API-->

    <article id="api" class="openWeather text-center px-5 m-5 route">
        <div class="container">

            <h2 class="p-3 mb-0 weather-title">Current Local Weather</h2>
            <p id="weather" class="text-dark m-0 p-2">
                Below will give you the local current weather based on the ZIP code entered.
                <input type="number" id="userZip" class="form-control" placeholder="Enter ZIP Code">
                <button onclick="returnWeather()" class="btn btn-outline-dark m-2">Get Weather</button>
            </p>
            <div class="weatherResult">
                <div class="bg row justify-content-center" id="weatherResults"></div>
            </div>
        </div>
    </article>

    <!-- End Weather API-->
    <!-- ======= Resume ======= -->
    <section id="resume" class=" text-center m-5 route">
        <div class="container">

            <embed src="/~/assets/documents/ChrisRandall-Resume-2023.pdf" type="application/pdf" width="1000" height="1000" class="pt-5">

        </div>
    </section>
    <!-- Resume -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="paralax-mf footer-paralax bg-image route">
        <!-- <div class="overlay-mf"></div> -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact-mf">
                        <div id="contact" class="box-shadow-full">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="title-box-2">
                                        <h5 class="title-left">
                                            Send Message Us
                                        </h5>
                                    </div>
                                    <div>
                                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 text-center my-3">
                                                    <div class="loading">Loading</div>
                                                    <div class="error-message"></div>
                                                    <div class="sent-message">Your message has been sent. Thank you!</div>
                                                </div>
                                                <div class="col-md-12 text-center">
                                                    <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="title-box-2 pt-4 pt-md-0">
                                        <h5 class="title-left">
                                            Get in Touch
                                        </h5>
                                    </div>
                                    <div class="more-info">
                                        <p class="lead">
                                            Please fill out the contact form and we'll reach out as soon as possible!
                                        </p>
                                        <ul class="list-ico">
                                            <li><span class="bi bi-geo-alt"></span> 408 Lilac Pl. Enid, OK 73703</li>
                                            <li><span class="bi bi-phone"></span> (580) 478-4420</li>
                                            <li><span class="bi bi-envelope"></span> Chris.CRandall@outlook.com</li>
                                        </ul>
                                    </div>
                                    <div class="socials">
                                        <ul>
                                            <li><a href=""><span class="ico-circle"><i class="bi bi-facebook"></i></span></a></li>
                                            <li><a href=""><span class="ico-circle"><i class="bi bi-instagram"></i></span></a></li>
                                            <li><a href=""><span class="ico-circle"><i class="bi bi-twitter"></i></span></a></li>
                                            <li><a href=""><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
